{% extends 'base.html' %}
{% block content %}

<main class="container py-5">
  <section class="card card-body">
    <h1 class="text-center">
      Bienvenido a nuestra herramienta de Unión de PDFs
    </h1>
    <p>
      Bienvenido a nuestra herramienta que te permite realizar diversas tareas con archivos PDF, como unir, convertir a Word y extraer partes específicas.
    </p>
    <p>
      Descubre la rapidez, la sencillez y la gratuidad de nuestra aplicación. Selecciona una opción en el menú, elige un PDF, haz clic en el botón correspondiente y descarga tu nuevo documento consolidado.
    </p>
    <p>
      ¡Gracias por elegir nuestra herramienta! Estamos aquí para facilitarte el trabajo con tus archivos PDF de manera eficiente.
    </p>
  
    {% if not user.is_authenticated %}
    
    <div class="d-flex justify-content-center mt-3">
      <a href="/signin/" class="btn btn-primary btn-log" style="margin-right: 5%;">Iniciar Sesión</a>
      <a href="/signup/" class="btn btn-primary btn-log">Registrarse</a>
    </div>
    {% endif %}
  </section>
</main>
{% endblock %}
